// Non-modular or client styles for .l-header region.
.overflow-hidden{
	overflow: hidden;
}
#full-page-menu{
	background: $secondary-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3rem;
	z-index: 1;
	@media screen and (max-width: 600px){
		padding: 3rem 1.8rem 1rem 1.8rem;
	}
	nav#block-navegacionprincipal {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		ul.menu.dropdown{
			li{
				display: block;
				width: 100%;
				a{
					color: #fefefe;
					font-size: 3rem;
					font-weight: 400;
					padding: 0.4rem 0;
					display: inline-block;
					@media screen and (max-width: 600px){
						font-size: 2rem;
					}
				}
			}
		}
	}
	nav#block-redes {
		position: absolute;
		bottom: 10%;
		a{
			padding: 0 1rem 0 0;
		}
	}
	a{
		color: $white;
	}
}
#menu-hamburger.closed-right{
	right: 2rem;
    top: 2rem;
	position: absolute;
	z-index: 2;
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner::before,
	.hamburger.is-active .hamburger-inner::after{
		background-color: $white;
	}
}
div#menu-hamburger {
    display: inline-block;
	float: left;
	position: fixed;
}
.header {
	padding: 1rem 0;
	section#block-marcadelsitio {
		max-width: 10rem;
		@media screen and (max-width: 600px){
			margin-left: 40%;
		}
	}
}

header.topheader {
	@media screen and (max-width: 600px){
		background: $white;
		position: fixed;
		width: 100%;
		z-index: 1;
	}
}

//Slide

.container-photo {
	position: relative;
	.info {
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		color: $white;
		z-index: 1;
		h2{
			font-size: 1.2rem;
			margin-bottom: 0;
		}
		@media screen and (max-width: 600px){
			text-align: right;
			right: 1rem;
			padding-left: 1rem;
		}
	}
	.slide {
		position: relative;
a{
	&:after{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		content: "";
	}
}
	}
}

.lightgallery-link {
    text-align: center;
	margin: 2rem auto;
a#lightgallery-start-fotos, a#lightgallery-start-esquemas, a#lightgallery-start-planos, a#lightgallery-start-referentes {
	font-weight: 600;
	position: relative;
	&:after{
		right: -28px;
		top: 0;
		content: "";
		background-image: url(../images/expand.png);
		background-size: contain;
		width: 20px;
		height: 20px;
		position: absolute;
	}
}
}

section#block-views-block-slide-block-2{
	ul.slick-dots {
		margin-left: 0;
		list-style: none;
		margin-top: 1rem;
		li{
			display: inline-block;
			margin-right: 1rem;
			width: 10px;
		}
		li.slick-active {
			border-bottom: 4px solid;
		}
	}
}

section#block-views-block-noticias-block-2{
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	ul.slick-dots {
		margin-left: 0;
		list-style: none;
		margin-top: 1rem;
		li{
			display: inline-block;
			margin-right: 1rem;
			width: 10px;
		}
		li.slick-active {
			border-bottom: 4px solid;
		}
	}
	h2.block-title {
		padding-left: 0;
		padding-right: 0.9rem;
		margin-bottom: 1rem;
		margin-top: 2rem;
	}
	.more-link {
		display: block;
		width: 100%;
		padding-left: 0.9rem;
		margin-top: 1rem;
		padding-left: 0;
		margin-bottom: 2rem; 
	}
}