.l-main {
    padding-left: 4.5rem;
    @media screen and (max-width: 600px) {
        padding-left: 0.7rem;
        padding-top: 6rem;
        padding-right: 0.7rem;
    }
}
.path-frontpage{
    .l-main {
        padding-left: 4.5rem;
        @media screen and (max-width: 600px) {
            padding-left: 0rem;
            padding-top: 6rem;
            padding-right: 0.7rem;
        }
    }
}
.section-proyectos {
    .l-main {
        padding-left: 4.5rem;
        @media screen and (max-width: 600px) {
            padding-left: 1.4rem;
            padding-top: 6rem;
            padding-right: 0.7rem;
        }
    }
}
 div#sub-content-second  {
    padding-left: 6.2rem;
    @media screen and (max-width: 600px) {
        padding-left: inherit;
    }
}
div#footer-first {
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: inherit;
    }
}
.row.web {
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}
section#block-mapacontacto {
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: inherit;
    }
}
section#block-views-block-timeline-block-1{
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: inherit;
    }
}
.vertical-tabs {
    border: 0px solid #ccc;
}
section#block-views-block-proyectos-block-2{
    padding-left: 13rem;
    @media screen and (max-width: 600px) {
        padding-left: inherit;
    }
}
.node--type-proyecto{
    section#block-pacheco-breadcrumbs {
        padding-left: 1rem;
        @media screen and (max-width: 600px) {
            padding-left: 0rem;
        }
    }
}

section#block-proyectostitle {
    margin-left: 16.6667%;
    @media screen and (max-width: 600px){
        margin-left: auto;
    }
}
.section-noticias{
    section#block-pacheco-breadcrumbs {
        padding-left: 0.7rem;
        margin-bottom: 3rem;
    }

.views-row {
    min-height: 230px;
    margin-bottom: 1rem;
    @media screen and (max-width: 600px){
        min-height: auto;
    }
}
section#block-noticiastitle {
    padding-left: 0.7rem;
}
}

.vertical-tabs__menu-item a {
    @media screen and (max-width: 600px){
         padding: 0.5em 0.6em 0.5em 0;
    }
}

section#block-dropdownlanguage {
    top: 9rem;
    position: fixed;
    width: 5rem;
    .dropbutton-wrapper {
        background-color: transparent;
    }
    .dropbutton-arrow {
        position: absolute;
        top: 50%;
        right: 40%;
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
        margin-top: -0.1666em;
        border-width: 0.3333em 0.3333em 0;
        border-style: none;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        line-height: 0;
    }
    li.es.dropbutton-action {
        cursor: pointer;
    }
    ul.dropdown-language-item.dropbutton {
        border-bottom: 5px solid;
    width: 15px;
    font-size: 0.8rem;
    }
}