.l-main {
    padding-left: 4.5rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
    }
}
 div#sub-content-second  {
    padding-left: 6.2rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
    }
}
div#footer-first {
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
    }
}
.row.web {
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
    }
}
section#block-mapacontacto {
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
    }
}
section#block-views-block-timeline-block-1{
    padding-left: 3.2rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
    }
}
.vertical-tabs {
    border: 0px solid #ccc;
}
section#block-views-block-proyectos-block-2{
    padding-left: 13rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
    }
}
.node--type-proyecto{
    section#block-pacheco-breadcrumbs {
        padding-left: 1rem;
        @media screen and (max-width: 600px) {
            padding-left: 1rem;
        }
    }
}

section#block-proyectostitle {
    margin-left: 16.6667%;
    @media screen and (max-width: 600px){
        margin-left: auto;
    }
}
.section-noticias{
    section#block-pacheco-breadcrumbs {
        padding-left: 0.7rem;
        margin-bottom: 3rem;
    }

.views-row {
    min-height: 210px;
    @media screen and (max-width: 600px){
        min-height: auto;
    }
}
section#block-noticiastitle {
    padding-left: 0.7rem;
}
}