section#block-views-block-noticias-block-1, section#block-views-block-noticias-block-1-2 {
    .views-row {
        min-height: 11rem;
        @media screen and (max-width: 600px) {
            min-height: auto;
        }
    }
}

.banner{
    position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    div#custom-dots {
        width: 20%;
        ul{
            list-style: none;
            margin-right: 1rem;
            padding-bottom: 0.5rem;
            margin-left: 0;
            li{
                padding: 0.4rem 0 0 0;
                width: 10px;
                text-align: center;
            }
            li.slick-active {
                border-bottom: 4px solid;
            }
        }
    }
    div#slick-views-slide-block-1-1 {
        width: 80%;
    }
}
.container-section {
    position: relative;
    width: 100%;
    float: right;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 600px){
        display: block;
    }
    .container-info {
        position: absolute;
        bottom: 0;
        padding-right: 1rem;
        @media screen and (max-width: 600px) {
            margin-bottom: 2rem;
            position: relative;
        }
    }
} 

//filtros
.filtros{
    fieldset {
        margin-bottom: 2rem;
    }
    span.fieldset-legend {
        font-weight: 700;
        font-size: 1.1rem;
    }
    summary {
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .form-checkboxes {
        margin-bottom: 1rem;
    }
    label.option {
        font-size: 0.8rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
}
.section-proyectos{
    #block-pacheco-breadcrumbs, #block-pacheco-page-title {
    margin-left: 16.6667%;
        @media screen and (max-width: 600px){
            margin-left: 0;
        }
    } 
} 
section#block-formularioexpuestoproyectospage-1 {
    @media screen and (max-width: 600px){
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}
.listados{
    .columns {
        padding-right: 1.8rem;
        padding-left: 0;
        @media screen and (max-width: 600px){
            padding-right: 0;
        }
    }
}
div#slick-views-proyectos-block-1-2-slider{
    .slick-slide {
        padding-right: 1rem;
    padding-left: 1rem;
    }

}
section#block-marcadelsitio {
    &.medium-offset-9 {
        margin-left: 72%;
    }
}

section#block-views-block-proyectos-block-1{
    ul.slick-dots{
            list-style: none;
            padding-bottom: 0.5rem;
            li{
                padding: 0.4rem 0 0 0;
                width: 10px;
                text-align: center;
                display: inline-block;
    margin-right: 0.9rem;
            }
            li.slick-active {
                border-bottom: 4px solid;
            }
        }
    
}

section#block-views-block-nuestras-oficinas-block-1 {

header {
    float: right;
    display: inline-block;
    width: 35%;
    margin-left: 1rem;
    @media screen and (max-width: 600px){
        margin-left: auto;
        float: none;
        display: block;
        width: 100%;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        margin-bottom: 1rem;
    }
}
.slick-slide {
    padding-left: 1rem;
    padding-right: 1rem;
}
ul.slick-dots{
    list-style: none;
    padding-bottom: 0.5rem;
    li{
        padding: 0.4rem 0 0 0;
        width: 10px;
        text-align: center;
        display: inline-block;
        margin-right: 0.9rem;
    }
    li.slick-active {
        border-bottom: 4px solid;
    }
    @media screen and (max-width: 600px){
        margin-bottom: 0;
    }
}
}

section#block-views-block-timeline-block-1 {
    ul.slick-dots{
        list-style: none;
        padding-bottom: 0.5rem;
        margin-left: 0;
        li{
            padding: 0.4rem 0 0 0;
            width: 10px;
            text-align: center;
            display: inline-block;
    margin-right: 0.9rem;
        }
        li.slick-active {
            border-bottom: 4px solid;
        }
    }
    .field-name-field-titulo {
        font-weight: 700;
    }
    .slick-track {
        border-bottom: 1px solid;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
}
.mapa{
    iframe { 
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
   }
}
//project
.container-project {
    position: relative;
    .project {
        position: relative;
        margin-bottom: 2rem;
        a{
            &:after{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                transition: ease all 0.4s;
                content: "";
            }
        }
        &:hover{
            cursor: pointer;
            &:after{
                background: rgba(0, 0, 0, 0.6);
                transition: ease all 0.4s; 
            }
        }
    }
    .info {
        position: absolute;
        z-index: 1;
        bottom: 1rem;
        right: 1rem;
        text-align: right;
        color: $white;
        .locate {
            text-transform: uppercase;
            font-size: 0.6rem;
        }
        h2 {
            font-size: 1rem;
            margin-bottom: 0;
            padding-left: 1rem;
            a{
                color: $white; 
            }
        }
    }
}

//Estudio
.node--type-proyecto{
    .textos{
        padding: 0 13rem;
        
        @media screen and (max-width: 600px){
            padding: 0;
        }
    }
    .field-group-tabs-wrapper{
        .horizontal-tabs{
            margin: 3rem auto; 
            padding: 0 13rem;
        
        @media screen and (max-width: 600px){
            padding: 0;
        }
        .horizontal-tabs-panes .horizontal-tabs-pane {
            padding: 0;
            border: 0;
            background-color: unset;
        }
        }
    }
}
section#block-views-block-proyectos-block-2{
    .title-proyecto {
        display: block;
        h1 {
            display: inline-block;
            margin-right: 2rem;
            @media screen and (max-width: 600px){
                display: block;
                width: 100%;
                margin-bottom: 0;
            }
        }
        .fecha {
            display: inline-block; 
            margin-right: 1rem;
            font-weight: 600;
            @media screen and (max-width: 600px){
                display: block;
                width: 100%;
            }
        }
        .ciudad {
            display: inline-block;
            @media screen and (max-width: 600px){
                display: block;
                width: 100%;
                margin-bottom: 1.4rem;
            }
        }
    }
    }
    


.section-el-estudio, .section-nuestra-aproximacion, .section-academia, .section-contacto, .section-trabaje-con-nosotros, .node--type-article{
    main#main {
        padding: 0 14rem;
        
        @media screen and (max-width: 600px){
            padding: 0;
        }
    }
    section#block-pacheco-breadcrumbs, section#block-pacheco-page-title {
        padding: 0 13rem;
        @media screen and (max-width: 600px){
            padding: 0;
        }
    } 
    &.path-el-estudio{
        main#main {
            padding: 0rem;
        }
    }
}
section#block-webform {
    padding: 1rem 15.3rem;
    @media screen and (max-width: 600px){
        padding: 1rem;
    }
}
section#block-video{
    padding-left:  15rem;
    padding-right:  15rem;
    margin-left: 1.2rem; 
        
        @media screen and (max-width: 600px){
            padding-left: 0rem;
            padding-right: 0rem;
            margin-left: 0;
        } 
        h2.block-title {
            padding-left: 0rem;
            padding-right: 0.9rem;
            margin-bottom: 2rem;
        }
}
section#block-academiablock{
    padding-left:  15rem;
    padding-right:  15rem;
    margin-left: 1.2rem;
        
        @media screen and (max-width: 600px){
            padding-left: 0rem;
            padding-right: 0rem;
            margin-left: 0;
}
}
nav#block-redes-3{
        a{
            padding: 0.7rem 1rem 0.7rem 0;
            font-size: 0.8rem;
        }
    }

    section#block-informacion-2 {
        a {
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    .horizontal-tabs, {
        border: 0px solid #ccc;

        .horizontal-tabs-list {
            display: inline-block;
            margin-bottom: 2rem;
            border: 0;
            padding: 0;
            list-style: none;
            background-color: #fff;
            border-bottom: 0px solid #ccc;
            width: 100%;
            height: auto;
            clear: both;
            .horizontal-tab-button.selected {
                background-color: #fff;
                border-bottom: 4px solid #000;
                margin-bottom: -1px;
                strong{
                    font-weight: bold;
                    line-height: inherit;
                }
            }
            .horizontal-tab-button {
                background: #fff;
                border-right: 0px solid #ccc;
                padding-top: 0;
                margin: 0;
                min-width: 5em;
                float: left;
                strong{
                    font-weight: 400;
                    line-height: inherit;
                }
            }
        
         .horizontal-tabs-pane {
            padding: 0;
            border: 0;
        }
    }
}
.vertical-tabs{
    @media screen and (max-width: 600px){
        margin: 0em;
    }
    .vertical-tabs__menu{
        @media screen and (max-width: 600px){
            margin: 0em;
            width: 100%;
        }
    }
    .vertical-tabs__menu-item {
        border: 0px solid #ccc;
        border-top: 0;
        background: #fff;
        @media screen and (max-width: 600px){
            display: inline-block;
            margin-bottom: 1rem;
        }
        strong {
            font-weight: 400;
            line-height: inherit;
        }
    }
    li.vertical-tabs__menu-item.is-selected{
        strong {
            font-weight: 400;
            line-height: inherit; 
            border-bottom: 4px solid #000;
            padding-bottom: 0.3rem;
        }
    }
}
.vertical-tabs__menu {
    border-top: 0px solid #ccc;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: left;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #000;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 0px;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 0px;
    filter: Alpha(Opacity=0);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}

.owl-page.active{
    border-bottom: 4px solid #000;
}

.ui-widget-overlay {
    background: #ffffff/*{bgColorOverlay}*/ /*{bgImgUrlOverlay}*/ /*{bgOverlayXPos}*/ /*{bgOverlayYPos}*/ /*{bgOverlayRepeat}*/;
    opacity: 1;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
    width: 100% !important;
}
.ui-widget.ui-widget-content {
    border: 0px solid #c5c5c5;
}
.ui-widget-header {
    border: 0px solid #dddddd;
    background: #fff;
    color: #333;
}
.ui-dialog .ui-dialog-title {
    display: none;
}


.ui-widget-content{
   .field-node--node-title{
        h2 {
            margin-bottom: 0;
        }
    }
  
    .field-wrapper.field.field-node--field-cargo.field-name-field-cargo.field-type-entity-reference.field-label-hidden {
        margin-bottom: 1rem;
    }
   .field-name-field-image{
    margin-bottom: 1rem;
    }
}
.ui-dialog-titlebar-close {
    position: absolute;
    right: 7%;
    top: 50%;
    width: 40px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 40px;
    border: 0px;
    background: none;
}
.ui-button-icon-only .ui-icon {
    position: absolute;
    top: -8px;
    left: -4rem;
    margin-top: -8px;
    margin-left: -8px;
    @media screen and (max-width: 600px){
        top: -20px;
        left: -3rem;
        margin-top: -8px;
        margin-left: -8px;
    }
}
.ui-button .ui-icon {
    background-image: url(/themes/custom/pacheco/images/close.png) !important;
}
.ui-icon {
    width: 40px;
    height: 40px;
}
.ui-icon-closethick {
    background-position: center;
}
.ui-widget .ui-widget {
    font-size: 0em;
}
 .ui-button {
    color: #ffffff/*{fcDefault}*/ !important;
    text-decoration: none;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front{
    font-family: $body-font-family;
}
button{
    outline:none;
}
a {
    outline: none;
    &:hover{
        outline: none;
    }
    &:focus{
        outline: none;
    }
    }

    .vertical-tabs__menu-item a:hover {
        outline: 0px dotted;
        text-decoration: none;
    }
    .date.field-wrapper.field.field-node--field-fecha.field-name-field-fecha.field-type-datetime.field-label-hidden.quickedit-field {
        .field-item {
            margin-bottom: 1rem;
        }
    }
    nav#block-redes-3 {
        margin-bottom: 2rem;
    }
    
    section#block-views-block-blocks-equipo-block-1 {
        @media screen and (max-width: 600px){
            .more {
                margin-bottom: 2rem;
            }
        }
    } 
    section#block-equipotitle {
        margin-left: 16.6667%;
        @media screen and (max-width: 600px){
            margin-left: auto;
        }
    }
